@import "VideoCreator/videoInputScreen";
@import "VideoCreator/videoEditScreen";
@import "VideoPreview/videoPreviewScreen";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}